In [1]:
import sys
import xlsxwriter
import pandas as pd
import sys
import psycopg2
import os
from dotenv import load_dotenv
from datetime import date

today = date.today()
load_dotenv()

#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
DB_HOST=os.getenv('DB_HOST')

# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host=DB_HOST,
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
cursor=cnx.cursor(buffered=True)

In [2]:
egresados=pd.read_sql('select * from egresados where muestra=3',cnx)
telefonos=pd.read_sql('select * from telefonos',cnx)
recados=pd.read_sql('select * from recados',cnx)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [3]:
ilocalizables=egresados.loc[egresados['status'].isin([6,11])]

In [4]:
len(ilocalizables)/len(egresados)

0.2726515742909186

In [5]:
becas_answers=pd.read_sql('select * from respuestas20 where nar3a is not null and nar3a!=1',cnx )

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [33]:
discrim=pd.read_sql('select * from discriminacion',cnx)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [6]:
becas_answers['nar3a'].unique()

array([ 2,  4,  3,  8,  6, 13, 10,  9, 15,  5, 11, 18, 19, 17, 16,  7, 14,
       12, 22, 20, 21], dtype=int64)

In [29]:
discrim['description'].unique()

array([None], dtype=object)

In [34]:
for i in range(len(discrim)):
    print(i)
    query=('insert into multiple_option_answers(encuesta_id,reactivo,clave_opcion) values(%s,%s,%s)')
    cursor.execute(query,tuple([str(discrim['encuesta_id'].values[i]),
               'nfr23',
                str(discrim['tipo'].values[i])]))
    # cnx.execute('insert')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323

In [35]:
cnx.commit()
# cnx.close()

In [4]:
egresados.columns

Index(['id', 'cuenta', 'nombre', 'paterno', 'materno', 'carrera', 'plantel',
       'extras', 'promedio', 'correo', 'telefono', 'telefono2', 'anio_egreso',
       'correo2', 'bach', 'correo_unam', 'sistema', 'muestra', 'status',
       'llamadas', 'updated_at', 'sexo', 'fec_nac', 'actualized', 'fuente',
       'created_at'],
      dtype='object')

In [3]:
#Verificar ilocaÃ±lizables equivocado y no existe

ilocalizables=egresados.loc[(egresados['status'].isin([6]))&(egresados['muestra']==3)]

In [6]:
for i in range(len(ilocalizables)):
    eg_r=recados.loc[recados['cuenta']==str(ilocalizables['cuenta'].values[i])]
    if(len(eg_r)>1):
     
        if(11 in eg_r['status'].unique()):
           
           print(eg_r[['status','fecha']])
           print(' i ll take :', eg_r['status'].values[len(eg_r)-1])
           cursor.execute('update egresados set status= '+str(eg_r['status'].values[len(eg_r)-1])+' where id = '+str(ilocalizables['id'].values[i]))

       status               fecha
20470    11.0 2024-06-14 15:33:46
20472     6.0 2024-06-14 15:38:15
 i ll take : 6.0
       status               fecha
20914    11.0 2024-06-18 14:19:25
20915    11.0 2024-06-18 14:19:51
 i ll take : 11.0
       status               fecha
21023     7.0 2024-06-18 18:28:52
21121    11.0 2024-06-19 14:07:18
 i ll take : 11.0
       status               fecha
6488      7.0 2024-03-19 16:46:36
21135    11.0 2024-06-19 14:27:05
 i ll take : 11.0
       status               fecha
6215      7.0 2024-03-19 09:35:15
20535    11.0 2024-06-14 18:19:01
 i ll take : 11.0
       status               fecha
6447      7.0 2024-03-19 15:49:42
20976    11.0 2024-06-18 17:18:24
 i ll take : 11.0
       status               fecha
6395      7.0 2024-03-19 14:34:21
20963    11.0 2024-06-18 16:58:29
 i ll take : 11.0
       status               fecha
6441      7.0 2024-03-19 15:43:47
20973    11.0 2024-06-18 17:16:43
 i ll take : 11.0
       status               fecha
6433      7.0 2024-03-19 15:35:23
20972    11.0 2024-06-18 17:15:32
 i ll take : 11.0
       status               fecha
6094      7.0 2024-03-15 14:50:01
20267    11.0 2024-06-13 17:50:56
 i ll take : 11.0
       status               fecha
5928      7.0 2024-03-14 17:49:52
20241    11.0 2024-06-13 17:19:54
 i ll take : 11.0
       status               fecha
6120      7.0 2024-03-15 15:44:48
20438    11.0 2024-06-14 14:26:54
 i ll take : 11.0
       status               fecha
5249      7.0 2024-03-12 11:03:57
20076    11.0 2024-06-13 11:14:20
 i ll take : 11.0
       status               fecha
5528      7.0 2024-03-13 10:03:32
20117    11.0 2024-06-13 12:38:01
 i ll take : 11.0
       status               fecha
6295      7.0 2024-03-19 11:24:14
20546    11.0 2024-06-17 09:13:11
 i ll take : 11.0
       status               fecha
6557      7.0 2024-03-20 09:17:38
20596    11.0 2024-06-17 11:02:10
 i ll take : 11.0
       status               fecha
6338      7.0 2024-03-19 12:33:05
20551    11.0 2024-06-17 09:25:31
 i ll take : 11.0
       status               fecha
6566      7.0 2024-03-20 09:24:59
20598    11.0 2024-06-17 11:03:40
 i ll take : 11.0
       status               fecha
6582      7.0 2024-03-20 09:32:56
20603    11.0 2024-06-17 11:07:05
 i ll take : 11.0
       status               fecha
7178      7.0 2024-04-01 11:31:27
20895    11.0 2024-06-18 13:14:01
 i ll take : 11.0
       status               fecha
7915      7.0 2024-04-04 09:59:51
21400    11.0 2024-06-20 13:05:44
 i ll take : 11.0
       status               fecha
7914      7.0 2024-04-04 09:58:56
21402    11.0 2024-06-20 13:07:01
 i ll take : 11.0
       status               fecha
7116      7.0 2024-03-22 09:55:03
20826    11.0 2024-06-18 10:41:51
 i ll take : 11.0
       status               fecha
3770      7.0 2024-03-04 10:03:26
20560    11.0 2024-06-17 09:31:15
 i ll take : 11.0
       status               fecha
4576      7.0 2024-03-07 12:39:11
21217    11.0 2024-06-19 17:29:54
 i ll take : 11.0
       status               fecha
4817      7.0 2024-03-08 12:13:49
21327    11.0 2024-06-20 11:05:58
 i ll take : 11.0
       status               fecha
4541      7.0 2024-03-07 11:36:47
21169    11.0 2024-06-19 15:11:32
 i ll take : 11.0
       status               fecha
4534      7.0 2024-03-07 11:27:38
21166    11.0 2024-06-19 15:04:42
 i ll take : 11.0
       status               fecha
4099      7.0 2024-03-05 13:30:05
20837    11.0 2024-06-18 10:58:12
 i ll take : 11.0
       status               fecha
4889      7.0 2024-03-11 10:12:35
21391    11.0 2024-06-20 12:57:53
 i ll take : 11.0
       status               fecha
240       7.0 2024-02-01 18:40:12
20196    11.0 2024-06-13 15:26:23
 i ll take : 11.0
       status               fecha
239       7.0 2024-02-01 18:39:12
20204    11.0 2024-06-13 15:31:22
 i ll take : 11.0
       status               fecha
3164     12.0 2024-02-28 09:55:46
21442    11.0 2024-06-20 14:16:08
 i ll take : 11.0
       status               fecha
1538      7.0 2024-02-19 14:51:37
20945    11.0 2024-06-18 16:15:00
 i ll take : 11.0
       status               fecha
1605      7.0 2024-02-19 17:32:58
20986    11.0 2024-06-18 17:25:40
 i ll take : 11.0
       status               fecha
2283      7.0 2024-02-22 16:20:46
21089    11.0 2024-06-19 12:14:21
 i ll take : 11.0
       status               fecha
984       7.0 2024-02-14 12:29:58
20469    11.0 2024-06-14 15:33:18
 i ll take : 11.0
       status               fecha
768       7.0 2024-02-12 18:34:32
20293    11.0 2024-06-13 18:33:13
 i ll take : 11.0

In [4]:
for i in range(len(ilocalizables)):
    eg_r=recados.loc[recados['cuenta']==str(ilocalizables['cuenta'].values[i])]
    if(len(eg_r)>=1):
     
        if(11 in eg_r['status'].unique()):
           
           print(eg_r[['status','fecha']])
           print(' i ll take :', eg_r['status'].values[len(eg_r)-1])
           cursor.execute('update egresados set status= '+str(eg_r['status'].values[len(eg_r)-1])+' where id = '+str(ilocalizables['id'].values[i]))

       status               fecha
20469    11.0 2024-06-14 15:33:46
20471     6.0 2024-06-14 15:38:15
 i ll take : 6.0
       status               fecha
21550    11.0 2024-06-20 18:14:34
 i ll take : 11.0
       status               fecha
21574    11.0 2024-06-20 18:31:49
 i ll take : 11.0
       status               fecha
21576    11.0 2024-06-20 18:32:56
 i ll take : 11.0
       status               fecha
21578    11.0 2024-06-20 18:34:04
 i ll take : 11.0
       status               fecha
21502    11.0 2024-06-20 17:02:27
 i ll take : 11.0
       status               fecha
6798     12.0 2024-03-20 15:12:30
21491    11.0 2024-06-20 16:41:42
 i ll take : 11.0
       status               fecha
6804      7.0 2024-03-20 15:16:04
21560    11.0 2024-06-20 18:23:52
 i ll take : 11.0
       status               fecha
7988      7.0 2024-04-04 13:14:06
21656    11.0 2024-06-21 10:35:38
 i ll take : 11.0
       status               fecha
7996      7.0 2024-04-04 13:30:24
21671    11.0 2024-06-21 10:49:37
 i ll take : 11.0
       status               fecha
7994      7.0 2024-04-04 13:26:49
21666    11.0 2024-06-21 10:44:20
 i ll take : 11.0
       status               fecha
8403      7.0 2024-04-08 10:14:50
21721    11.0 2024-06-21 12:33:09
 i ll take : 11.0
       status               fecha
8378      7.0 2024-04-08 09:53:13
21691    11.0 2024-06-21 11:13:09
 i ll take : 11.0
       status               fecha
5081      7.0 2024-03-11 15:45:11
21614    11.0 2024-06-21 09:36:25
 i ll take : 11.0
       status               fecha
3197      7.0 2024-02-28 12:25:13
21618    11.0 2024-06-21 09:58:19
 i ll take : 11.0
       status               fecha
3426      7.0 2024-02-29 14:43:31
21645    11.0 2024-06-21 10:26:20
 i ll take : 11.0
       status               fecha
2810      7.0 2024-02-26 18:06:18
21518    11.0 2024-06-20 17:21:33
 i ll take : 11.0
       status               fecha
3041      7.0 2024-02-27 15:39:48
21537    11.0 2024-06-20 17:52:12
 i ll take : 11.0
       status               fecha
3132     11.0 2024-02-27 18:13:03
3133      7.0 2024-02-27 18:13:51
21570    11.0 2024-06-20 18:29:17
 i ll take : 11.0
       status               fecha
3495     12.0 2024-02-29 17:32:46
21698    11.0 2024-06-21 12:04:04
 i ll take : 11.0
       status               fecha
1473      8.0 2024-02-19 14:01:13
21703    11.0 2024-06-21 12:07:02
21704    11.0 2024-06-21 12:07:09
21705    11.0 2024-06-21 12:07:18
 i ll take : 11.0
       status               fecha
21699    11.0 2024-06-21 12:05:11
21701    11.0 2024-06-21 12:06:16
 i ll take : 11.0

In [23]:
recados.loc[recados['cuenta']==egresados['cuenta'].values[i]]

,id,cuenta,recado,fecha,status,updated_at,created_at,user_id,tel_id
0,38,416012248,Suena una vez y se corta,2024-01-18 12:19:49,7.0,2024-01-18 18:19:49,2024-01-18 18:19:49,10,40077
3,41,416012248,None,2024-01-18 12:23:21,7.0,2024-01-18 18:23:21,2024-01-18 18:23:21,10,40077

In [8]:
str(ilocalizables['id'].values[i])

'174962'

In [5]:
cnx.commit()

In [17]:
recados.columns

Index(['id', 'cuenta', 'recado', 'fecha', 'status', 'updated_at', 'created_at',
       'user_id', 'tel_id'],
      dtype='object')

In [15]:
len(ilocalizables)

832

In [1]:
236.55-237.94

-1.3899999999999864